# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints/
*-checkpoint.ipynb

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Output directory / temp files
*.log
